<div class="footer">
	<p>
		<span class="copy-rights">© 2013 - 2014 <a href="www.rohitdaryanani.com">Rohit Daryanani</a> All rights reserved.</span>
		<span class="github">Fork this project on <a href="#">Github</a></span>
	</p>
</div>
