<div class="header">
	<div class="left-nav">
		<h1>Inventory</h1>
		<span>version 1.0</span>
	</div>
	<div class="right-nav">
		{{#if user}}
			<div class="nav">Welcome {{user}} | <a href="/logout">Log Out</a></div>
		{{else}}
			<div class="nav">Welcome ( Guest ) <a href="/">Sign Up</a> | <a href="/login">Log In</a></div>
		{{/if}}
	</div>
</div>
