<div class="header">
	<div class="left-nav">
		<h1>{{ title }}</h1>
		<span>version {{ version }}</span>
	</div>
	<div class="right-nav">
		<nav>Welcome ( Guest ) <a href="/signup">Sign Up</a> | <a href="/login">Log In</a></nav>
	</div>
</div>
