<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>List of items</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body>

		<form action="/items" method="post">
			<input type="text" name="productCode" placeholder="product code">
			<input type="text" name="itemName" placeholder="item name">
			<input type="text" name="price" placeholder="price">
			<input type="text" name="location" placeholder="location">
			<input type="submit">
		</form>

		<p>{{message}}</p>

		<h3>List of items</h3>
		<table>
			<th>Product Code</th>
			<th>Item Name</th>
			<th>Price</th>
			<th>Location</th>
			{{#each items}}
				{{#if productCode}}
					<tr>
						<td>{{ productCode }}</td>
						<td>{{ itemName }}</td>
						<td>{{ price }}</td>
						<td>{{ location }}</td>
					</tr>
			{{/if}}
		{{/each}}
		</table>

	</body>
</html>
