<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
	{{> header }}
	<div class="content content-login">
		<div class="login-form">
			<h2>Log in</h2>
			<hr>
			<form action="/login" method="post">
				<div class="credentials">
					<label for="username">
						<p>Username</p>
						<input type="text" name="username" id="username" placeholder="Username">
					</label>
					<label for="password">
						<p>Password</p>
						<input type="password" name="password" placeholder="Password">
					</label>
					<p class="signup">Don't have an account ? Sign Up <a href="/">Here!</a></p>
					<input type="submit" value="LOG IN">
				</div>
			</form>
		</div>
	</div>
	{{> footer }}
</body>
</html>
