// color listing from kuler
@red         : #E74C3C;
@white       : #ECF0F1;
@light-blue  : #3498DB;
@dark-blue   : #2980B9;
@light-black : #2C3E50;

// Additional colors
@grey : #999;

// mixins
.offset {
	padding : 0% 16%;
}

.input-size {
	padding : 10px;
    width   : 300px;
}
body {
  padding          : 50px;
  font             : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color : @white;
  margin           : 0;
  padding          : 0;
  background-color: @light-black;
  color: @white;

}

input[type=text] {
	.input-size;
}

input[type=password] {
	.input-size;
}

input[type=email] {
	.input-size;
}

input[type=submit] {
	min-width        : 100px;
	background-color : #3498DB;
	border           : 1px solid #2980B9;
	font-weight      : bold;
	color            : #ECF0F1;
	padding          : 12px;
	outline          : 2px solid #EFEFEF;
	cursor           : pointer;
	font-size        : 14px;

	&:hover{
		background-color : white;
		color            : #2980B9;
	}
}


.header {
	.offset;
	color            : @white;
	background-color : @dark-blue;
	padding-top      : 1%;
	padding-bottom   : 1%;
	h1 {
		margin-top : 0
	}
	.left-nav{
		width        : 50%;
		margin-right : 0px;
		display      : inline-block;
	}
	.right-nav {
		width   : 50%;
		display : inline-block;
		float   : right;
		nav {
			margin-top : 28px;
			text-align : right;
		}
	}

	a {
	  color           : @white;
	  font-weight     : bolder;
	  text-decoration : none;
	}

}

.content {
	.offset;
	background-color : white;
	color            : @light-black;
	overflow         : auto;
}

.content-index {
	.left-nav {
		padding-top    : 1%;
		padding-bottom : 1%;
		width          : 49%;
		margin-right   : 0px;
		display        : inline-block;
	}

	.right-nav {
		padding-top    : 1%;
		padding-bottom : 1%;
		width          : 49%;
		float          : right;
		border-left    : 1px dashed @light-black;
		.sign-up {
			margin-left    : 20px;
			padding-bottom : 40px;
			.sub {
				color : @grey;
			}
			.credentials {
				p {
					font-weight   : bold;
					margin-bottom : 7px;
				}
				.login {
					margin      : 30px 0;
					font-weight : normal;
					a {
						font-weight : bolder;
					}
				}
			}
			hr {
				height           : 1px;
				border           : medium none;
				background-color : #EFEFEF;
			}
		}
	}
}

.footer {
	.offset;
	.github {
		float : right;
	}
	padding-top : 2%;
}

a {
  color           : @light-blue;
  text-decoration : none;
}
